<a href="https://colab.research.google.com/github/arz03/ads-lab/blob/main/assignement2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import seaborn as sns

Task 1 Simple aggregate and average of price relative indices

In [ ]:
# data
data={'base':[10,15,20,25,30],
      'current':[12,18,22,28,35]}
df1=pd.DataFrame(data)
df1

   base  current
0    10       12
1    15       18
2    20       22
3    25       28
4    30       35

In [ ]:
# simple aggregate price index
sum_base_prices=df1['base'].sum()
sum_current_prices=df1['current'].sum()
agg_price_index=(sum_current_prices/sum_base_prices)*100
print(agg_price_index)

114.99999999999999

In [ ]:
# price relative for each commodity
df1['Price Relative']=(df1['current']/df1['base'])*100
df1

   base  current  Price Relative
0    10       12      120.000000
1    15       18      120.000000
2    20       22      110.000000
3    25       28      112.000000
4    30       35      116.666667

In [ ]:
# simple average of price relatives index
avg_of_price_relatives=df1['Price Relative'].mean()