In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello")

Hello

In [3]:
data = [1,2]
s = pd.Series(data, index=['One','Two'])
x = pd.Series(data, index=["o","t"])
print(x)
print(s)

o    1
t    2
dtype: int64
One    1
Two    2
dtype: int64

In [4]:
data2 = {
    'Name': ["Arjun", "Ashvin"],
    'City': ["Bhopal", "Bhopal"]
}

s = pd.Series(data2, )
print(s)

Name     [Arjun, Ashvin]
City    [Bhopal, Bhopal]
dtype: object

In [5]:
# assigning duplicate index
data = [1,2,3,4]
s = pd.Series(data, index=['One','Two',"One","Two"])
print(s)

One    1
Two    2
One    3
Two    4
dtype: int64

In [6]:
s.index.duplicated()

array([False, False,  True,  True])

In [7]:
print(s.index.unique())

Index(['One', 'Two'], dtype='object')

In [8]:
print(s.index.is_unique)

False

In [9]:
s=s.reset_index()

In [10]:
s

  index  0
0   One  1
1   Two  2
2   One  3
3   Two  4

In [11]:
data = [1,2,3,'a','b']
s=pd.Series(data,index=['a','b','c','d','e'])
print(s.loc['a':'d'])

a    1
b    2
c    3
d    a
dtype: object

In [12]:
data=[1,2,3,4,5]
data2=[6,7,8,9,0]
s=pd.Series(data)
p=pd.Series(data2)
summ=s.add(p)
print(summ)

0     7
1     9
2    11
3    13
4     5
dtype: int64

In [13]:
subs=s.sub(p)
print(subs)

0   -5
1   -5
2   -5
3   -5
4    5
dtype: int64

In [14]:
mult=s.mul(p)
print(mult)

0     6
1    14
2    24
3    36
4     0
dtype: int64

In [15]:
print(s)
a=s.astype('float')
print(a)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [16]:
s.to_numpy()

array([1, 2, 3, 4, 5])

In [17]:
s.to_dict()

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [18]:
s.to_list()

[1, 2, 3, 4, 5]

In [19]:
s.to_json()

'{"0":1,"1":2,"2":3,"3":4,"4":5}'

In [20]:
s.to_latex()

'\\begin{tabular}{lr}\n\\toprule\n & 0 \\\\\n\\midrule\n0 & 1 \\\\\n1 & 2 \\\\\n2 & 3 \\\\\n3 & 4 \\\\\n4 & 5 \\\\\n\\bottomrule\n\\end{tabular}\n'